{% extends "management/base_management.html" %}

{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success"
                onclick="location.href=`{% url 'management:subject_create' %}`">教科を追加</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary"
                onclick="location.href=`{% url 'management:book_create' %}`">問題集を追加</button>
        </div>
    </div>
</div>
<div class="pt-4">
    {% for subject in subjects %}
    <h4 class="pt-2">
        <a class="text-success" href="{% url 'management:subject_detail' pk=subject.pk %}">{{ subject.name }}</a>
    </h4>
    <ul>
        {% for book in subject.books.all %}
        <li>
            <a class="text-primary" href="{% url 'management:book_detail' pk=book.pk %}">{{ book.name }}</a>
        </li>
        {% empty %}
        問題集を追加してください
        {% endfor %}
    </ul>
    {% empty %}
    教科一覧から教科を追加してください
    {% endfor %}
</div>
{% endblock %}